In [2]:
import pandas as pd
import numpy as np

In [8]:
directory = 'output_data/employee_earnings/earnings_date=2022-02-'
file= 'employee_earnings.parquet'

df_earnings1 = pd.read_parquet(f'{directory}10/{file}')
df_earnings2 = pd.read_parquet(f'{directory}11/{file}')
df_earnings3 = pd.read_parquet(f'{directory}12/{file}')
df_earnings4 = pd.read_parquet(f'{directory}13/{file}')
df_earnings5 = pd.read_parquet(f'{directory}14/{file}')

df_earnings = pd.concat([df_earnings1, df_earnings2, df_earnings3, df_earnings4, df_earnings5], axis=0)

<bound method DataFrame.count of     emp_id first_name middle_initial last_name                         email  \
0   526540  Angelique              K   Goodwin   angelique.goodwin@gmail.com
1   859327       Jeni              S   Shaffer        jeni.shaffer@gmail.com
2   887387     Donald              T    Farris   donald.farris@bellsouth.net
3   779497     Steven              D    Rendon       steven.rendon@gmail.com
4   896517     Jenell              L   Almanza      jenell.almanza@yahoo.com
..     ...        ...            ...       ...                           ...
95  549389   Clemente              M     Gould    clemente.gould@hotmail.com
96  466832      Chang              K     Roden         chang.roden@yahoo.com
97  203380     Marvin              R    Nickel         marvin.nickel@ibm.com
98  915991     Eldora              Y   Tribble  eldora.tribble@earthlink.net
99  289172      Azzie              L    Layman    azzie.layman@hotmail.co.uk

   date_of_birth date_of_joining          ssn  phone_number  user_name  \
0     1964-05-15      2001-03-24  471-57-0359  212-884-7146  akgoodwin
1     1962-01-13      2015-12-10  624-85-4146  205-665-7020  jsshaffer
2     1958-04-11      1979-11-12  097-02-3315  205-959-7879   dtfarris
3     1982-04-04      2008-09-18  134-98-6566  217-858-0054   sdrendon
4     1958-07-01      1993-07-14  599-92-7345  314-893-2590  jlalmanza
..           ...             ...          ...           ...        ...
95    1961-12-31      1992-10-02  271-17-5467  228-485-0919    cmgould
96    1988-09-07      2010-08-06  074-02-9202  316-256-7851    ckroden
97    1986-11-25      2012-10-06  552-99-5545  270-750-7760   mrnickel
98    1995-05-29      2016-10-17  763-12-2082  236-584-1916  eytribble
99    1961-09-06      2004-03-26  637-29-1007  503-456-5899   allayman

           password office_branch  earnings
0        z{d>ez%{.@        Nashua      6227
1          7U56!*!O      Stanford      4437
2     rX.F{j&]&m&&X      Stanford      6228
3       a+2;sx}<G]y        Nashua      3127
4          Ou7RX{yT      New York      3930
..              ...           ...       ...
95    m1%+0ojh7VIvJ      Stanford      7944
96  5|Rn]G:#58f$>+S        Nashua      8708
97        8*E[g-_X|      Scranton      7741
98       z>ms?;$8-u        Nashua      8080
99   k<%?%TML.].1ZY      New York      5868

[500 rows x 13 columns]>

In [23]:
num_rows = 100  # Number of rows to add
df_predict_1 = pd.DataFrame(
    {col: np.random.choice(df_earnings[col], num_rows) for col in df_earnings.columns}
)

df_predict_1

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,633636,Rex,B,Mullis,dolores.begley@hotmail.com,1968-08-11,2015-12-10,235-57-9815,207-532-1710,hwsauer,y>;Y[$It,Nashua,6883
1,886060,Adalberto,C,Harwell,winfred.gonzales@aol.com,1965-05-21,1998-04-14,704-18-2387,217-297-4629,mxtrotter,SKR2COdtmJA,Nashua,2514
2,403534,Myron,W,Burk,angelique.goodwin@gmail.com,1958-04-11,2015-04-23,345-11-4018,219-802-6287,izdang,Kce]-Rnti6,New York,7169
3,432820,Adalberto,V,Goad,nam.schmidt@yahoo.co.uk,1980-12-13,1987-01-02,599-92-7345,239-814-5354,asaraujo,YI[#Xj}?oj,New York,7933
4,819367,Allan,Q,Trotter,verna.michaud@gmail.com,1992-06-15,2016-01-27,074-02-9202,262-835-1119,mnmarble,cEvcPqX[,Nashua,3438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,439483,Nam,Y,Almanza,charles.quintero@gmail.com,1971-05-13,2004-03-26,109-98-3095,212-678-8854,kgcrandall,Q_TqJfDpD,Nashua,3899
96,633636,Ashly,N,Bernhardt,bobbie.branson@hotmail.com,1982-03-31,2017-04-28,271-17-5467,212-678-8854,dydominguez,h6\}gLafP7r-\T,New York,7327
97,572204,Devon,K,Begley,nam.schmidt@yahoo.co.uk,1982-03-31,2009-03-18,444-27-9644,236-584-1916,izdang,58gQWZs-fge,Nashua,8111
98,460226,Sixta,X,Stanton,chang.roden@yahoo.com,1988-12-20,1995-10-14,271-17-5467,308-954-6249,anchilders,m1%+0ojh7VIvJ,New York,8638
99,413865,Whitney,L,Wilson,jeni.shaffer@gmail.com,1984-06-01,1993-08-14,556-99-1014,205-959-7879,sushay,6jB:x4I3~,Nashua,5636

In [24]:
num_rows = 100  # Number of rows to add
df_predict_2 = pd.DataFrame(
    {col: np.random.choice(df_earnings[col], num_rows) for col in df_earnings.columns}
)

df_predict_2

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,550206,Chastity,Z,Knox,nam.schmidt@yahoo.co.uk,1986-10-09,1992-07-14,345-11-4018,503-456-5899,cclumpkin,YI[#Xj}?oj,Scranton,5099
1,317987,Humberto,O,Wilson,benjamin.doss@gmail.com,1982-10-26,1991-04-14,622-85-5122,239-814-5354,cupineda,ME_YQuf};VlbIz\,New York,8123
2,242388,Jake,U,Lumpkin,michale.colson@comcast.net,1992-07-26,2005-09-03,044-15-4027,217-348-2881,mowhitfield,OCFPmhX0*F,New York,3408
3,530134,Arlena,G,Goolsby,ramiro.conover@earthlink.net,1970-07-27,2017-04-28,019-94-6803,316-256-7851,rrweeks,D7fdw~fTX_G3CTg,Nashua,6353
4,721091,Virgil,S,Farris,vicente.dawkins@gmail.com,1988-09-07,2016-01-18,005-13-9026,605-487-4676,rzwoodall,pK~<0k<t-UM,Nashua,3675
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,550206,Verna,U,Beamon,shemika.beckman@hotmail.com,1976-11-25,2016-10-17,237-99-0766,216-690-4327,sbnelson,GLTTXR|JL0~E,New York,2832
96,572204,Donald,E,Layman,donald.farris@bellsouth.net,1995-05-29,2004-02-29,393-33-5849,229-238-0915,ceharwell,3<u55Xj^@fy7#OS,New York,2843
97,402180,Brock,J,Mullis,devon.knox@gmail.com,1965-05-21,2017-04-25,728-14-6144,209-293-8759,smtitus,Q&>Mi&B%kml34tm,Scranton,2642
98,397283,Dannie,Q,Ng,eldora.tribble@earthlink.net,1992-06-07,2015-11-17,234-57-0893,480-381-5936,agriley,mH_b:JA52,Stanford,3582
99,184257,Cory,D,Titus,renee.beverly@rediffmail.com,1966-10-09,2017-04-25,005-13-9026,216-500-3888,bucarrillo,z{d>ez%{.@,Nashua,8182

In [27]:
df_predict_1.to_parquet(f'{directory}15/{file}', index=False)
df_predict_2.to_parquet(f'{directory}16/{file}', index=False)